# Build results
bin/
obj/
out/

# Visual Studio / VS Code
.vscode/
.vs/

# User-specific files
*.user
*.suo
Context.txt

# Settings files
appsettings*

# Logs
*.log
logs/
*.jsonl

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Rider / JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Resharper
_ReSharper*/
*.DotSettings.user

# Coverage
coverage/
*.coverage
*.coveragexml

# Publish output
publish/

# Replay data
ReplayData/

# Development certificates
DevelopmentKeys/

# Images
*.png
